<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand">StreamEvents</a>
            <!-- Botó per desplegar menú -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Menú">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links del menú -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Inici</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'users:profile' %}" class="nav-link">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'users:logout' %}" class="nav-link">Tancar sessió</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'users:login' %}" class="nav-link">Iniciar sessió</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'users:register' %}" class="nav-link">Registrar-se</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>